<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | QuizTown</title>
    <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/index.css">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="/phone.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Itim&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://kit.fontawesome.com/a6d3a7fa97.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav id="navbar">
        <a  id="logo" href="/"><img src="public/images/logo-new1.png" alt="Quiz Town"></a>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/instruction">Start Now</a></li>
        <!-- <li><a href="/register">Register Now</a></li> -->
        <li><a href="/contact">Contact Us</a></li>
        <!-- <a href=""><i class="fa fa-sign-out"></i></a> -->
        <li class="dropdown">
            <a class="dropbtn">Categories &nbsp; <i class="fa fa-chevron-circle-down"></i></a>
            <div class="dropdown-content">
                <a href="/instruction">Art and Literature</a>
                <a href="/instruction">General Knowledge</a>
                <a href="/instruction">Geography</a>
                <a href="/instruction">History</a>
                <a href="/instruction">Music</a>
                <a href="/instruction">Science and Nature</a>
                <a href="/instruction">Sport</a>
                <a href="/instruction">Tie Break</a>
                <a href="/instruction">TV and Films</a>
            </div>
        </li>
    </ul>
</nav>

    <div id="c-h">
        <h1 id="ch">Contact Us</h1>
        <p>Drop Us A Line</p>
        <h3>We Would Be Glad To Hear From You</h3>
    </div>

    <section id="contact">

        <img src="public/images/contact.jpg" alt="">

        <div id="contact-box">
            <form action="/contact" method="POST" alt="We'll figure it out as soon as possible">
                <div class="form-group">
                    <input type="text" name="name" id="name" placeholder="Full name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="phone" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
                <div class="form-group">
                    <textarea name="message" name="message" id="message" cols="30" rows="10" placeholder="Write Us" required></textarea>
                </div>
                <div class="form-group">
                    <button type='submit'>Send<i class='fa fa-arrow-circle-o-right'></i></button>
                </div>
                <div class="form-group">
                    <button type="reset">Reset Now<i class="fa fa-refresh"></i></button>
                </div>
            </form>
        </div>
        <h2>OR</h2>
        <div id="mail">
            <button><a href="mailto:harshitsharma9270@gmail.com">Email QuizTown<i
                        class="fa fa-arrow-circle-right"></i></a></button>
        </div>
        <p>We normally reply within 1-2 business days.</p>
    </section>


    <!-- <hr> -->
    <!-- <br>
    <section id="review">
        <div id="heading-rev">
            <p>Want to recieve regular quiz updates</p>
            <h1 class="mh">Join our mailing list</h1>
        </div>
        <img src="public/images/newsletter.jpg" alt="">
        <div id="newsletter">
            <input type="email" name="email" id="email" placeholder="Enter your email to join our mailing list" required>
            <button type="submit"><a>Yes,&nbsp;Please &nbsp;<i class="fa fa-arrow-circle-right"></i></a></button>
        </div>
        <p>Get ocassional updates and important reviews in your inbox.<br>No spam ever.</p>
    </section> -->
    
    <footer>
        <a href="https://www.facebook.com/apple/"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/apple/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/steve-jobs"><i class="fa fa-linkedin-square"></i></a>
        <div id="copyright">
            Copyright &nbsp; &copy; &nbsp;2020-21 &nbsp; &nbsp;www.QuizTown.com &nbsp;| &nbsp;All rights reserved!
        </div>
    </footer>
</body>

</html>