<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="yQOOYhzcZG79A57m3G9EAneSTazh4D6v9AV1EZvFY2A" />
    <title>QuizTown | Brain storming quiz point</title>
    <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
    <link type='text/css' rel="stylesheet" href="/index.css">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="/phone.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Itim&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://kit.fontawesome.com/a6d3a7fa97.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="navbar">
            <a  id="logo" href="/"><img src="public/images/logo-new1.png" alt="Quiz Town"></a>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/instruction">Start Now</a></li>
            <!-- <li><a href="/register">Register Now</a></li> -->
            <li><a href="/contact">Contact Us</a></li>
            <!-- <a href=""><i class="fa fa-sign-out"></i></a> -->
            <li class="dropdown">
                <a class="dropbtn">Categories &nbsp; <i class="fa fa-chevron-circle-down"></i></a>
                <div class="dropdown-content">
                    <a href="/instruction">Art and Literature</a>
                    <a href="/instruction">General Knowledge</a>
                    <a href="/instruction">Geography</a>
                    <a href="/instruction">History</a>
                    <a href="/instruction">Music</a>
                    <a href="/instruction">Science and Nature</a>
                    <a href="/instruction">Sport</a>
                    <a href="/instruction">Tie Break</a>
                    <a href="/instruction">TV and Films</a>
                </div>
            </li>
        </ul>
    </nav>
    <section id="home">
        <div id="text">
            <p>Enjoy the most exciting quizzes</p>
            <h1 class="mh">You are about to experience some mind-storming trivias</h1>
            <p>All you need to answer our quizzes is patience and some basic knowledge. Dive into the ocean of quests -Quiz Town!
            </p>
            <button class="btn"><a href="/instruction">Start Now<i class="fa fa-arrow-circle-o-right"></i></a></button>
        </div>
        <div id="img">
            <img src="public/images/man-thinking.jpg" alt="">
        </div>
    </section>
    <blockquote> "Everyone loves sport. And everyone loves a quiz."<br>
        -Sue Barker
    </blockquote>
    <hr>

    <section id="instructions">
        <div id="ins-heading">
            <p>Start your trek here</p>
            <h1 class="mh">Quick guide for your better experience</h1>
            <p>Level up your performance <i class="fa fa-trophy"></i></p>
            <button> <a href="/instruction">Learn Now<i class="fa fa-info-circle"></i></a></button>
        </div>
        <div id="instruction-box">
            <div id="box1" class="box">
                <h2>Normal</h2>
                <i class="fa fa-level-up"></i>
                <p>As the name suggests,The player succeding these levels will be at beginner level. The player here must have learned enough
                    to answer some basic-knowledge based questions.
                </p>
            </div>
            <div id="box2" class="box">
                <h2>Nightmare</h2>
                <i class="fa fa-level-up"></i><i class="fa fa-level-up"></i>
                <p>Reaching these levels must be regarded as achievement in comparison with the Easy level. But most of the
                    players who reach here must be insane enough to tolerate that much of disaster to mind.

                </p>
            </div>
            <div id="box3" class="box">
                <h2>Insane</h2>
                <i class="fa fa-level-up"></i><i class="fa fa-level-up"></i><i class="fa fa-level-up"></i>
                <p> This is the achivement for the professional as the player having this rank would have stormed their
                    mind.The player to reach here must be at quizzical and insane. Reaching this level is still a
                    nightmare for many.
                </p>
            </div>
        </div>
    </section>
    <hr />
    <section id="review">
        <div id="heading-rev">
            <p>Want to recieve regular quiz updates</p>
            <h1 class="mh">Join our mailing list</h1>
        </div>
        <img src="public/images/newsletter.jpg" alt="">
        <form id="newsletter" method="POST">
            <input type="email" name="email" id="email" placeholder="Enter your email"
                required>
            <button type="submit"><a>Yes,&nbsp;Please &nbsp;<i class="fa fa-arrow-circle-right"></i></a></button>
        </form>
        <p>Get ocassional updates and important reviews in your inbox.<br>No spam ever.</p>
    </section>
    
    <footer>
        <a href="https://www.facebook.com/apple/"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/apple/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/steve-jobs"><i class="fa fa-linkedin-square"></i></a>
        <div id="copyright">
            Copyright &nbsp; &copy; &nbsp;2020-21 &nbsp; &nbsp;www.QuizTown.com &nbsp;| &nbsp;All rights reserved!
        </div>
    </footer>

</body>

</html>
