<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions | QuizTown</title>
    <link rel="icon" href="public/images/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/index.css">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="/phone.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Itim&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://kit.fontawesome.com/a6d3a7fa97.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav id="navbar">
        <a  id="logo" href="/"><img src="public/images/logo-new1.png" alt="Quiz Town"></a>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/instruction">Start Now</a></li>
        <!-- <li><a href="/register">Register Now</a></li> -->
        <li><a href="/contact">Contact Us</a></li>
        <!-- <a href=""><i class="fa fa-sign-out"></i></a> -->
        <li class="dropdown">
            <a class="dropbtn">Categories &nbsp; <i class="fa fa-chevron-circle-down"></i></a>
            <div class="dropdown-content">
                <a href="/instruction">Art and Literature</a>
                <a href="/instruction">General Knowledge</a>
                <a href="/instruction">Geography</a>
                <a href="/instruction">History</a>
                <a href="/instruction">Music</a>
                <a href="/instruction">Science and Nature</a>
                <a href="/instruction">Sport</a>
                <a href="/instruction">Tie Break</a>
                <a href="/instruction">TV and Films</a>
            </div>
        </li>
    </ul>
</nav>


    <div id="c-h">
        <h1 id="ch">Instructions</h1>
        <h3>All You Need To Know Before You Start</h3>
        <p>Already familiar with Instructions? Start the Quiz now!</p>
        <button class="btn" id="ins-btn"><a href="/categories">Start Now<i
                    class="fa fa-arrow-circle-right"></i></a></button>
    </div>

    <div id="i-img">
        <img src="public/images/man-explaining.jpg" alt="">
    </div>
    <div id="inst">
        <ul>
            <li>There are numerous categories for the qustions here at QuizTown! </li>
            <li>These categores have levels or stages to rate the individual performance of each player. </li>
            <li> There are 3 levels namely Normal , Nightmare & Insane. </li>
            <li> These are further divided into sub-levels ranging from 1 to 10. </li>
        </ul>
    </div>

    <hr>

    <h3 id="cat-h">Categories</h3>
    <div id="categories">
        <div id="cat">
            <div id="c-img" class="myCat">
                <img src="public/images/categories.jpg" alt="">
            </div>
            <ul id="cate">
                <li>Art and Literature</li>
                <li>General Knowledge</li>
                <li>Geography</li>
                <li>History</li>
                <li>Music</li>
                <li>Science and Nature</li>
                <li>Sport</li>
                <li>Tie Break</li>
                <li>TV and Films</li>
            </ul>
        </div>
    </div>

    <hr>

    <h3 id="cat-h" class="mbtm">Scoring</h3>
    <ol id="scoring-rules">
        <li>There are a total of 9 <i>categories</i> namely <i>Art & Literature, General Knowledge, Geography, History,
                Music, Science & Nature, Sport ,Tie Break, TV & Films</i>.</li>
        <li>In each category , there are <i>10 levels</i>. </li>
        <li>Each level is having <i>10 questions</i>.</li>
        <li>Each question will award the number of <i>marks</i> same as <i>level number.</i></li>
        <li>This means every level will award<i>score</i> same as <i>(level number)*(number of questions).</i></li>
    </ol>


    <!-- <hr>
    <section id="review">
        <div id="heading-rev">
            <p>Want to recieve regular quiz updates</p>
            <h1 class="mh">Join our mailing list</h1>
        </div>
        <img src="public/images/newsletter.jpg" alt="">
        <div id="newsletter">
            <input type="email" name="email" id="email" placeholder="Enter your email to join our mailing list" required>
            <button type="submit"><a>Yes,&nbsp;Please &nbsp;<i class="fa fa-arrow-circle-right"></i></a></button>
        </div>
        <p>Get ocassional updates and important reviews in your inbox.<br>No spam ever.</p>
    </section> -->
   
    <footer>
        <a href="https://www.facebook.com/apple/"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.instagram.com/apple/?hl=en"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/steve-jobs"><i class="fa fa-linkedin-square"></i></a>
        <div id="copyright">
            Copyright &nbsp; &copy; &nbsp;2020-21 &nbsp; &nbsp;www.QuizTown.com &nbsp;| &nbsp;All rights reserved!
        </div>
    </footer>
</body>

</html>